body {
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    color: yellow;
    margin-bottom: 10px;
}
p {
    color: grey;
    margin-bottom: 20px;
}
h2 {
    margin-top: 20px;
}
ul {
    list-style: none;
    padding: 
    0;
}
li {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}
li:hover {
    background-color: #555;
}
.container {
    background : #222;
    padding : 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.buttons {
    margin-top: 20px;
    margin-left: 20px;
}
.buttons a {
    display: flex;
    margin: 10px;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
/*.product {
    background: darkgray;
    padding : 20px;
    border-radius: 10px;
    width: 600px;
    text-align: center;
}*/
